/* Cristal Rivera - Schedule Planner*/
/* Styles for body */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  /* Styles for textarea */
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  /* Styles for Jumbotron */
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  /* Styles for Description */
  .description{
    white-space: pre-wrap;
  }
  /* Styles for time block */
  /* .time-block{
    text-align: center;
    border-radius: 15px;
  }
   */
   /* Styles for  row */
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  /* Styles for  hour */
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  /* Styles for past time */
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  /* Styles for present time */
  .present {
    background-color: #ff6961;
    color: white;
  }
  /* Styles for future time */
  .future {
    background-color: #77dd77;
    color: white;
  }
  /* Styles for Save Button */
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  /* Styles for Save Button hover */
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
/* Styles for Save icon */
  .fa-save {
      padding: 10px;
  
  }

/* Styles for container */
  .container {
    margin-bottom: 10%;
  }
  